# 国内高速镜像源配置（解决国内无法连接 githubusercontent.com 的问题）
registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
